@using Microsoft.Extensions.Options
@using web_mvc.Options
@inject IOptions<Pool1Settings> Pool1Options;
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <meta charset="utf-8"/>
    <title>JW.FINANCE | @ViewData["Title"]</title>
    <meta name="description" content="Crypto Yeld Farms | Pools"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link href="~/_metronic/plugins/global/plugins.bundle.css" rel="stylesheet"/>
    <link href="~/_metronic/css/style.bundle.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="~/_metronic/media/logos/icon.png"/>
    <style>
        @@media (min-width: 992px) {
            .header-fixed[data-header-scroll="on"] .header {
                -webkit-animation: header-scroll-animation .5s ease 1;
                -webkit-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
                -webkit-transition: height 0.3s ease;
                animation: header-scroll-animation .5s ease 1;
                background-color: #ffffff;
                box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
                height: 80px;
                left: 250px;
                position: fixed;
                right: 250px;
                top: 0;
                transition: height 0.3s ease;
                z-index: 97;
            }

            .wrapper {
                margin: 40px 0;
                margin-left: 200px;
                margin-right: 200px;
                padding-top: 10px;
            }
        }
    </style>
</head>
<body id="kt_body" class="page-loading-enabled page-loading header-fixed header-mobile-fixed page-loading">
@await Html.PartialAsync("_metronic/_Loader")
<!--begin::Main-->
@await Html.PartialAsync("_metronic/_MobileHeader")
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            @await Html.PartialAsync("_metronic/_Header")
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                @RenderBody()
            </div>
            <!--end::Content-->
            @await Html.PartialAsync("_metronic/_Footer")
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->
@await Html.PartialAsync("_metronic/_Scrolltop")
@*<script>
            var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
        </script>*@

<!--begin::Global Config(global config for global JS scripts)-->
<script>
    var KTAppSettings = {
        "breakpoints": {
            "sm": 576,
            "md": 768,
            "lg": 992,
            "xl": 1200,
            "xxl": 1200
        },
        "colors": {
            "theme": {
                "base": {
                    "white": "#ffffff",
                    "primary": "#8950FC",
                    "secondary": "#E5EAEE",
                    "success": "#1BC5BD",
                    "info": "#8950FC",
                    "warning": "#FFA800",
                    "danger": "#F64E60",
                    "light": "#F3F6F9",
                    "dark": "#212121"
                },
                "light": {
                    "white": "#ffffff",
                    "primary": "#E1E9FF",
                    "secondary": "#ECF0F3",
                    "success": "#C9F7F5",
                    "info": "#EEE5FF",
                    "warning": "#FFF4DE",
                    "danger": "#FFE2E5",
                    "light": "#F3F6F9",
                    "dark": "#D6D6E0"
                },
                "inverse": {
                    "white": "#ffffff",
                    "primary": "#ffffff",
                    "secondary": "#212121",
                    "success": "#ffffff",
                    "info": "#ffffff",
                    "warning": "#ffffff",
                    "danger": "#ffffff",
                    "light": "#464E5F",
                    "dark": "#ffffff"
                }
            },
            "gray": {
                "gray-100": "#F3F6F9",
                "gray-200": "#ECF0F3",
                "gray-300": "#E5EAEE",
                "gray-400": "#D6D6E0",
                "gray-500": "#B5B5C3",
                "gray-600": "#80808F",
                "gray-700": "#464E5F",
                "gray-800": "#1B283F",
                "gray-900": "#212121"
            }
        },
        "font-family": "Poppins"
    };
</script>

<script src="~/_metronic/plugins/global/plugins.bundle.js"></script>
<script src="~/_metronic/js/scripts.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/evm-chains/lib/index.js"></script>
<script type="text/javascript" src="~/js/walletconnect.js"></script>
<script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.min.js"></script>
<script type="text/javascript" src="~/js/common.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/utils.js" asp-append-version="true"></script>
<script type="text/javascript">
    window.pool1 = {
        name: "@Pool1Options.Value.Name",
        contractAddress: "@Pool1Options.Value.ContractAddress",
        transactionFee: @Pool1Options.Value.TransactionFee,
        availableAt: @Pool1Options.Value.AvailableAt,
        stakeToken: {
            name: "@Pool1Options.Value.StakeContract.Name",
            symbol: "@Pool1Options.Value.StakeContract.Symbol",
            decimals: @Pool1Options.Value.StakeContract.Decimals,
            contractAddress: "@Pool1Options.Value.StakeContract.ContractAddress"
        },
        rewardToken: {
            name: "@Pool1Options.Value.RewardContract.Name",
            symbol: "@Pool1Options.Value.RewardContract.Symbol",
            decimals: @Pool1Options.Value.RewardContract.Decimals,
            contractAddress: "@Pool1Options.Value.RewardContract.ContractAddress"
        }
    };

    window.addEventListener("load",
        async () => {
            initWeb3Modal();
        });

    $(document).ready(function() {
        updateCurrentGasPrice('@Url.Action("GetCurrentGasPrice", "Network")');
        if ($(".connect")) {
            waitForWalletConnectThenChangeButton();
            $(".connect").on("click", function() { initWeb3Modal(); });
        }
    });

    setInterval(function() {
            updateCurrentGasPrice('@Url.Action("GetCurrentGasPrice", "Network")');
        },
        60000);
</script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>